.eigo {
    font-family: "Sour Gummy", sans-serif;
}

.nihongo {
    font-family: "M PLUS 1p", sans-serif;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border- box;
}

body {
    background: #dedee4;
}

.fadein {
    opacity: 0;
    transform: translateY(60px);
    transition: all 1.2s ease-out;
}

.fadein.show {
    opacity: 1;
    transform: translateY(0);
}

/* ヘッダー */


.teraki {
    position: absolute;
    top: 30px;
    left: 40px;
    font-size: 22px;
    color: #1d1d1d;
    letter-spacing: 5px;
    z-index: 5;
}

.teraki {
    position: fixed;
}

#menu_btn {
    position: absolute;
    top: 30px;
    right: 40px;
    width: 50px;
    height: auto;
    z-index: 101;
    cursor: pointer;
}

#menu_btn {
    position: fixed;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -500px;
    right: 0%;
    width: 300px;
    height: 350px;
    border-radius: 80px 0px 80px 80px;
    box-shadow: #6d6d6d 0 0 30px;
    background: #dedee4;
    transition: top 0.6s;
    z-index: 100;
}

#menu {
    position: fixed;
}

#menu.show {
    top: 0;
}

#menu a {
    display: block;
    color: #1d1d1d;
    margin: 10px;
    font-size: 30px;
}




/* メイン */

#about {
    margin: 0 auto;
    background: #693df5;
    width: 100%;
    max-width: 1200px;
    height: 350vh;
    border-radius: 80px;
    padding: 1px;
    position: sticky;
    top: -250vh;
}

#about {
    scroll-margin-top: 300vh;
    /* ヘッダーの高さに合わせて調整 */
}

h1 {
    color: #ebebeb;
    text-align: center;
    margin-top: 200px;
    font-size: 50px;
    letter-spacing: 4px;
}

.scroll {
    display: flex;
    justify-content: center;
    margin-top: 300px;
}

.scroll_line {
    width: 4px;
    height: 130px;
    background: #ebebeb;
    margin-right: 20px;
    transform-origin: top;
    transform: scaleY(0);
    animation: bar 1.7s ease-in-out infinite;
}

@keyframes bar {
    0% {
        transform: scaleY(0);
        transform-origin: top;
    }

    40% {
        transform: scaleY(1);
        transform-origin: top;
    }

    60% {
        transform: scaleY(1);
        transform-origin: bottom;
    }

    100% {
        transform: scaleY(0);
        transform-origin: bottom;
    }
}

.scroll p {
    font-size: 20px;
    letter-spacing: 5px;
    color: #ebebeb;
}


/* プロフィール */

.about_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 500px;
    background: #ebebeb;
    border-radius: 55px;
    border: solid 6px #b39dfd;
    margin-top: 75px;
}


.about_profile h2 {
    position: absolute;
    top: 7px;
    left: 40px;
    font-size: 55px;
    letter-spacing: 12px;
    color: #693df5;
    opacity: 0.2;
}

.about_profile h3 {
    font-size: 35px;
    letter-spacing: 4px;
}

.about_profile p {
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 40px;
}

.about_profile img {
    width: 350px;
    border-radius: 50px;
}


/* スキル */

.about_skill {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 260px;
    background: #ebebeb;
    border-radius: 55px;
    border: solid 6px #b39dfd;
    margin-top: 120px;
}

.about_skill h2 {
    position: absolute;
    top: 0px;
    right: 40px;
    font-size: 55px;
    letter-spacing: 12px;
    color: #693df5;
    opacity: 0.2;
}

.about_skill li {
    font-size: 25px;
    font-weight: 500;
    margin-top: 22px;
    letter-spacing: 4px;
}

.skillbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 150px;
    background: #d9d1f7;
    border-radius: 40px;
    border: #9680dd solid 6px;
    margin-top: 30px
}

.skillbox p {
    font-size: 22px;
    letter-spacing: 5px;
    margin-top: px;
}

/* 強味 */

.about_str {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 75px;
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 350px;
    background: #ebebeb;
    border-radius: 55px;
    border: solid 6px #b39dfd;
    margin-top: 120px;
}

.about_str h2 {
    position: absolute;
    top: 0px;
    left: 35px;
    font-size: 55px;
    letter-spacing: 12px;
    color: #693df5;
    opacity: 0.2;
}

.str_box {
    margin-top: 75px;
    width: 260px;
    height: auto;
    text-align: center;
}

.str_box h3 {
    font-size: 37px;
    letter-spacing: 4px;
    border-bottom: #693df5 solid 2px;
}

.str_box p {
    font-size: 15px;
    letter-spacing: 4px;
    margin-top: 32px;
}


/* フォト */

#photo {
    background: #ebebeb;
    border-radius: 100px 100px 0 0;
    box-shadow: #979696 0 -1px 10px;
    height: 100vh;
    z-index: 1;
    position: sticky;
    top: 0;
    padding-top: 1px;
}

#photo {
    scroll-margin-top: 100vh;
    /* ヘッダーの高さに合わせて調整 */
}

#photo h2 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 5px;
    width: 60%;
    margin: 40px auto;
    background: linear-gradient(to right, #693df5, #6a9ee4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#photo h2 span {
    font-size: 45px;
}

#photo div {
    display: flex;
    justify-content: center;
    gap: 75px;
    margin-top: 60px;
    overflow: hidden;
}

#photo div img {
    width: 220px;
    height: 220px;
    border-radius: 35px;
    background: #6d6d6d;
    object-fit: cover;
}

/* フッダー */

#footer {
    background: linear-gradient(155deg, #693df5, #6a9ee4);
    height: 100vh;
    border-radius: 100px 100px 0 0;
    position: sticky;
    top: 0px;
    z-index: 3;
    padding-top: 1px;
    margin-top: 50vh;
    text-align: center;
}

.thank_box {
    margin-top: 75px;
}

.thank {
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: 500;
    color: #dedee4;
}

.goran {
    font-size: 20px;
    letter-spacing: 4px;
    color: #dedee4;
    margin-top: 15px;
}

.footer_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.footer_menu li {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: #dedee4 solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 20px;
    transition: 0.5s;
}

.footer_menu a {
    color: #dedee4;
    font-size: 23px;
    padding: 55px 50px;
    border-radius: 50%;
    transition: 0.5s;
}

.footer_menu li:hover {
    background: #dedee4;
}

.footer_menu li:hover a {
    color: #1d1d1d;
    font-size: 26px;
}

.mail {
    margin-top: 60px;
}

.mail p {
    color: #dedee4;
    font-size: 23px;
    margin-bottom: 15px;
}

.mail a {
    color: #dedee4;
    font-size: 40px;
    letter-spacing: 5px;
    border-bottom: 2px solid #dedee4;
}


.footer_line {

    border-top: #dedee4 solid 1px;
    margin-top: 60px;
}

.copyright {
    color: #dedee4;

}



@media screen and (max-width: 768px) {

    .teraki {
        top: 10px;
        left: 10px;
        font-size: 20px;
    }


    #menu_btn {
        top: 20px;
        right: 00px;
        width: 30px;
    }


    #menu {
        top: -400px;
        width: 200px;
        height: 300px;
        border-radius: 70px 0px 70px 70px;
    }

    #menu {
        position: fixed;
    }


    #menu a {
        font-size: 20px;
    }




    /* メイン */

    #about {
        width: 100%;
        max-width: 1200px;
        height: 350vh;
        border-radius: 50px;
        top: -250vh;
    }

    #about {
        scroll-margin-top: 300vh;
        /* ヘッダーの高さに合わせて調整 */
    }

    h1 {
        margin-top: 100px;
        font-size: 25px;
        letter-spacing: 3px;
    }

    .scroll {
        margin-top: 500px;
    }

    .scroll_line {
        width: 2px;
        height: 100px;
    }


    .scroll p {
        font-size: 15px;
        letter-spacing: 4px;
    }


    /* プロフィール */

    .about_profile {
        display: block;
        height: 530px;
        border-radius: 30px;
        border: solid 4px #b39dfd;
        margin-top: 50px;
    }


    .about_profile h2 {
        top: 0px;
        left: 5px;
        font-size: 30px;
        letter-spacing: 7px;
    }

    .about_profile h3 {
        font-size: 22px;
        letter-spacing: 3px;
        margin: 40px 0 0 20px;
    }

    .about_profile p {
        font-size: 10px;
        letter-spacing: 1px;
        margin: 20px auto 0 auto;
        width: 320px;
    }

    .about_profile img {
        display: block;
        width: 95%;
        height: 250px;
        object-fit: cover;
        border-radius: 30px;
        margin: 20px auto;
    }


    /* スキル */

    .about_skill {
        display: block;
        height: 350px;
        border-radius: 30px;
        border: solid 4px #b39dfd;
        margin-top: 50px;
        padding-top: 20px;
    }

    .about_skill h2 {
        top: 0px;
        right: 5px;
        font-size: 30px;
        letter-spacing: 7px;
    }


    .about_skill li {
        font-size: 20px;
        font-weight: 500;
        margin: 20px auto 0 auto;
        letter-spacing: 4px;
        width: 200px;
    }

    .skillbox {
        width: 320px;
        height: 120px;
        border-radius: 20px;
        border: #9680dd solid 4px;
        margin: 30px auto 0 auto;
    }

    .skillbox p {
        font-size: 18px;
        letter-spacing: 4px;
    }

    /* 強味 */

    .about_str {
        display: block;
        width: 90%;
        height: 650px;
        border-radius: 30px;
        border: solid 4px #b39dfd;
        margin-top: 50px;
    }

    .about_str h2 {
        position: absolute;
        top: 0px;
        left: 5px;
        font-size: 30px;
        letter-spacing: 4px;
    }

    .str_box {
        width: 260px;
        margin: 40px auto 0 auto;
    }

    .str_box h3 {
        font-size: 30px;
    }

    .str_box p {
        font-size: 13px;
        letter-spacing: 3px;
        margin-top: 20px;
    }


    /* フォト */

    #photo {
        border-radius: 50px 50px 0 0;
        box-shadow: #979696 0 -1px 10px;
        height: 100vh;
    }

    #photo {
        scroll-margin-top: 100vh;
        /* ヘッダーの高さに合わせて調整 */
    }

    #photo h2 {
        font-size: 20px;
        letter-spacing: 3px;
        width: 60%;
        margin: 40px auto;
    }

    #photo h2 span {
        font-size: 30px;
    }

    #photo div {
        display: flex;
        justify-content: flex-start;
        overflow-x: scroll;
        gap: 16px;
        scroll-snap-type: x mandatory;
    }

    #photo div img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        scroll-snap-align: start;
        flex-shrink: 0;
        object-fit: cover;
    }


    #footer {
        border-radius: 50px 50px 0 0;
    }

    .thank_box {
        margin-top: 200px;
    }

    .thank {
        font-size: 25px;
        letter-spacing: 3px;
    }

    .goran {
        font-size: 15px;
        letter-spacing: 2px;
        margin-top: 15px;
    }


    .footer_menu li {
        width: 100px;
        height: 100px;
        border: #dedee4 solid 1.5px;
        display: flex;
        margin: 50px 10px;
    }

    .footer_menu li:hover a {
        font-size: 21px;
    }

    .footer_menu a {
        font-size: 20px;
    }


    .mail {
        margin-top: 100px;
    }

    .mail p {
        color: #dedee4;
        font-size: 20px;
        margin-bottom: 20px;
    }

    .mail a {
        color: #dedee4;
        font-size: 20px;
        letter-spacing: 3px;
        border-bottom: 2px solid #dedee4;
    }

    .footer_line {
        margin-top: 120px;
    }


}